In [1]:
import pandas as pd
import numpy as np

In [2]:
# 2018
sub18 = pd.read_csv(str(2018)+'q1sub.csv',encoding = "ISO-8859-1")   

# 2017
year=2017
q1_sub17 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub17 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub17 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub17 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub17 = q1_sub17.append(q2_sub17).append(q3_sub17).append(q4_sub17)

# 2016
year=2016
q1_sub16 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub16 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub16 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub16 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub16 = q1_sub16.append(q2_sub16).append(q3_sub16).append(q4_sub16)

# 2015
year=2015
q1_sub15 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub15 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub15 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub15 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub15 = q1_sub17.append(q2_sub15).append(q3_sub15).append(q4_sub15)

# 2014
year=2014
q1_sub14 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub14 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub14 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub14 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub14 = q1_sub14.append(q2_sub14).append(q3_sub14).append(q4_sub14)

# 2013
year=2013
q1_sub13 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub13 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub13 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub13 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub13 = q1_sub13.append(q2_sub13).append(q3_sub13).append(q4_sub13)

# 2012
year=2012
q1_sub12 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub12 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub12 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub12 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub12 = q1_sub12.append(q2_sub12).append(q3_sub12).append(q4_sub12)

# 2011
year=2011
q1_sub11 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub11 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub11 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub11 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub11 = q1_sub11.append(q2_sub11).append(q3_sub11).append(q4_sub11)

# 2010
year=2010
q1_sub10 = pd.read_csv(str(year)+'q1sub.csv',encoding = "ISO-8859-1")    
q2_sub10 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub10 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub10 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub10 = q1_sub10.append(q2_sub10).append(q3_sub10).append(q4_sub10)

# 2009
year=2009   
q2_sub09 = pd.read_csv(str(year)+'q2sub.csv',encoding = "ISO-8859-1")
q3_sub09 = pd.read_csv(str(year)+'q3sub.csv',encoding = "ISO-8859-1")
q4_sub09 = pd.read_csv(str(year)+'q4sub.csv',encoding = "ISO-8859-1")
sub09 = q2_sub09.append(q3_sub09).append(q4_sub10)

In [3]:
sub=\
sub18.append(sub17).append(sub16).append(sub15).append(sub14).append(sub13).append(sub12).append(sub11).append(sub10).append(sub09)

In [4]:
sub_cik_lst = pd.DataFrame(sub.cik.unique().tolist())

In [5]:
sub_cik_lst = sub_cik_lst.rename(columns={0:'cik'})

In [6]:
sub_cik_lst.head()

    cik
0  2178
1  2488
2  2969
3  3499
4  3545

In [9]:
len(sub_cik_lst)

11846

In [7]:
# sub_cik_lst.to_csv('all_ciks_from_sub.csv')